#hero_sec {
    position: relative;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/images/hero-img.jpg') center center / cover no-repeat;
    overflow: hidden;
    z-index: 2;
}

#hero-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg,
            rgba(36, 14, 16, 0.8) 10%,
            rgba(68, 15, 19, 0.7) 50%,
            rgba(113, 16, 22, 0.2) 100%);
    z-index: 1;
}
.cic_logo {
    position: absolute;
    top: 37px;
    left: 10px;
    width: 343px;
    height: 188px;
    z-index: 10; 
}

.hero-content {
    position: relative;
    text-align: center;
    padding: 0px 0px 20px;
    margin-top: -100px;
    z-index: 3;
}

.hero-logo{
    width: 520px;
    max-width: 90%;
    height: auto;
    margin-bottom: -50px;
}

.hero-title{
    font-family: 'ImFellEnglish' , serif;
    font-size: 65px;
    font-weight: 400;
    line-height: 96px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -2.4px;
    margin-top: -70px;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 28.2px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(249, 228, 192, 1);
    margin-bottom: 30px;
}

.hero-btn{
    width: 200px;
    height: 60px;
    border-radius: 9999px; 
    border: none;
    background-color: rgba(249, 228, 192, 1);
    padding: 12px;
    color: rgba(36, 14, 16, 1);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.hero-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 15px 25px -3px rgba(0, 0, 0, 0.15);
}

.date {
    margin-top: 32px;
    font-size: 15.4px;
    line-height: 24px;
    color: rgba(249, 228, 192, 0.7);
}