#root {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 480px) {
  /* mobile styles */
   #root {
  margin: 0;
  padding: 0;
  width: 480px;
  text-align: center;
}
}


