
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
}

body {
  min-height: 100vh;
  background-color: #020617; 
  color: #e5e7eb;
}

/* regular */
@font-face {
  font-family: 'ImFellEnglish';
  src: url('/fonts/ImFellEnglish-Regular.woff2') format('woff2'),
       url('/fonts/ImFellEnglish-Regular.woff') format('woff');
  font-weight: 400;
  font-style:normal;
  font-display: swap;
}

/* italic */
@font-face {
  font-family: 'ImFellEnglish';
  src: url('/fonts/ImFellEnglish-Italic.woff2') format('woff2'),
       url('/fonts/ImFellEnglish-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

